In [1]:
import pandas as pd

In [2]:
with open('test.txt') as f:
    input = [line.strip('\n') for line in f]

input = pd.DataFrame([[int(char) for char in row] for row in input])

In [3]:
input

   0  1  2  3  4  5  6  7  8  9
0  2  1  9  9  9  4  3  2  1  0
1  3  9  8  7  8  9  4  9  2  1
2  9  8  5  6  7  8  9  8  9  2
3  8  7  6  7  8  9  6  7  8  9
4  9  8  9  9  9  6  5  6  7  8

In [4]:
result = []
dummy = 10

for i in input.columns:
    for j in range(len(input)):
        

        center = input[i][j]
        north = input[i][j - 1] if j > 0 else dummy
        south = input[i][j + 1] if j < len(input) - 1 else dummy
        east = input[i + 1][j]  if i < len(input.columns) - 1 else dummy
        west = input[i - 1][j]  if i > 0 else dummy

        if (center < north) & (center < south) & (center < east) &(center < west):
            result.append(center)

        result

In [6]:
print(f'Result: {sum(result) + len(result)}')

Result: 15